<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.buddman.bubblepop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />


    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>
        <activity android:name=".FindFriendsActivity" />
        <activity android:name=".FriendsInfoActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".BubbleMoaGenerateActivity" />
        <activity android:name=".MyProfileSettingsActivity" />
        <activity android:name=".StudyGenerateForm1Activity" />
        <activity android:name=".StudyGenerateForm2Activity" />
        <activity android:name=".StudyGenerateFinalActivity" />
        <activity android:name=".StoryChatActivity" />
        <activity android:name=".CardEditActivity" />
        <activity android:name=".StoreItemViewActivity" />
        <activity android:name=".StudyInfoViewActivity" />
        <activity android:name=".StudyMoimManageActivity" />
        <activity android:name=".AuthActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegisterInfoActivity" />
        <activity android:name=".RegisterCategoryActivity"></activity>
    </application>

</manifest>